build/
build-*/
cmake-build-*/
.vscode/
.idea/
*.user
*.autosave
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.o
*.obj
*.exe
*.so
*.dylib
*.dll
.DS_Store
dist/
